# Midland Basin Well Data

## Import dependencies and load data

In [2]:
import pandas as pd
import numpy as np

In [21]:
# CSV Path
path = "Resources\Dist_Test_Data.csv"

In [22]:
# Load the data as a dataframe
df = pd.read_csv(path)
df.head()

,well id,Lease Name,Well Number,Operator compnay,County,Landing Zone,Surf Lat,Surf Long,BH Lat,BH Long,...,Date Completed,Total Fluid (bbl),Total Proppant (lb),"Well Spacing, ft",Well Name,Fluid (bbl/ft),Prop (lb/ft),Avg PPG,"Oil EUR, Mbbl","Gas EUR, MMcf"
0,4.232940e+13,FR UNOBTANIUM 1411,2BB,CROWNQUEST OPERATING LLC,MIDLAND,WCMP B,31.870560,-101.825582,31.904397,-101.837609,...,9/12/2018,24699748,24188000,NaN,FR UNOBTANIUM 1411 2BB,48,1988,0.98,742.0,1464.0
1,4.232940e+13,FR UNOBTANIUM 1411 CC,6HB,CROWNQUEST OPERATING LLC,MIDLAND,WCMP B,31.870806,-101.824485,31.905170,-101.834592,...,10/1/2018,25690596,24352000,NaN,FR UNOBTANIUM 1411 CC 6HB,50,1993,0.95,605.0,2326.0
2,4.232940e+13,FR UNOBTANIUM 1411 F,12HB,CROWNQUEST OPERATING LLC,MIDLAND,WCMP B,31.871761,-101.820501,31.905840,-101.830409,...,12/17/2019,25478032,24250000,NaN,FR UNOBTANIUM 1411 F 12HB,51,2027,0.95,310.0,3027.0
3,4.232940e+13,FR UNOBTANIUM 1411 C,5BB,CROWNQUEST OPERATING LLC,MIDLAND,WCMP B,31.870785,-101.824579,31.904779,-101.835542,...,9/25/2018,24923052,23490000,NaN,FR UNOBTANIUM 1411 C 5BB,49,1935,0.94,599.0,1738.0
4,4.232940e+13,FR UNOBTANIUM 1411 D,9HB,CROWNQUEST OPERATING LLC,MIDLAND,WCMP B,31.871256,-101.822479,31.905549,-101.832830,...,12/29/2019,23893552,24702000,NaN,FR UNOBTANIUM 1411 D 9HB,47,2052,1.03,NaN,NaN

In [23]:
# Summarize initial dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   well id              12 non-null     float64
 1   Lease Name           12 non-null     object
 2   Well Number          12 non-null     object
 3   Operator compnay     12 non-null     object
 4   County               12 non-null     object
 5   Landing Zone         12 non-null     object
 6   Surf Lat             12 non-null     float64
 7   Surf Long            12 non-null     float64
 8   BH Lat               12 non-null     float64
 9   BH Long              12 non-null     float64
 10  Date Spud            12 non-null     object
 11  Lateral Len (ft)     12 non-null     int64
 12  Date Completed       12 non-null     object
 13  Total Fluid (bbl)    12 non-null     int64
 14  Total Proppant (lb)  12 non-null     int64
 15  Well Spacing, ft     0 non-null      float64
 16  Well Name            12 non-null     object
 17  Fluid (bbl/ft)       12 non-null     int64
 18  Prop (lb/ft)         12 non-null     int64
 19  Avg PPG              12 non-null     float64
 20  Oil EUR, Mbbl        9 non-null      float64
 21  Gas EUR, MMcf        9 non-null      float64
dtypes: float64(9), int64(5), object(8)
memory usage: 2.2+ KB

## Data Cleaning

In [24]:
# Drop the columns where all values are null
df = df[["well id","Surf Lat",'Surf Long',"BH Lat","BH Long"]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   well id    12 non-null     float64
 1   Surf Lat   12 non-null     float64
 2   Surf Long  12 non-null     float64
 3   BH Lat     12 non-null     float64
 4   BH Long    12 non-null     float64
dtypes: float64(5)
memory usage: 608.0 bytes

In [25]:
df["Mid Point Lat"] = (df["Surf Lat"] + df["BH Lat"])/2
df["Mid Point Long"] = (df["Surf Long"] + df["BH Long"])/2
df.head()

,well id,Surf Lat,Surf Long,BH Lat,BH Long,Mid Point Lat,Mid Point Long
0,4.232940e+13,31.870560,-101.825582,31.904397,-101.837609,31.887478,-101.831595
1,4.232940e+13,31.870806,-101.824485,31.905170,-101.834592,31.887988,-101.829538
2,4.232940e+13,31.871761,-101.820501,31.905840,-101.830409,31.888800,-101.825455
3,4.232940e+13,31.870785,-101.824579,31.904779,-101.835542,31.887782,-101.830060
4,4.232940e+13,31.871256,-101.822479,31.905549,-101.832830,31.888402,-101.827655

In [28]:
for index,rows in df.iterrows():
    lat1 = df.at[index,'Mid Point Lat']
    lon1 = df.at[index,'Mid Point Long']
    print(calc_dist(lat1,lon1,df['Mid Point Lat'],df['Mid Point Long']))

0        0.000000
1      663.575141
2     1961.806592
3      488.100253
4     1266.093626
5     1109.918851
6     1148.398998
7      131.747015
8     1798.540818
9      474.998420
10      27.536260
11    1792.668554
dtype: float64
0      663.575141
1        0.000000
2     1298.861175
3      178.235393
4      602.662471
5      448.616443
6      487.463435
7      532.022832
8     1135.784906
9      189.704914
10     686.695079
11    1129.848942
dtype: float64
0     1961.806592
1     1298.861175
2        0.000000
3     1473.829444
4      696.505292
5      852.261855
6      814.114270
7     1830.071945
8      163.441776
9     1486.808745
10    1985.334889
11     169.199610
dtype: float64
0      488.100253
1      178.235393
2     1473.829444
3        0.000000
4      778.645775
5      621.821014
6      660.302899
7      356.356741
8     1310.520305
9       15.739408
10     512.041644
11    1304.665589
dtype: float64
0     1266.093626
1      602.662471
2      696.505292
3      778.645775
4        0.000000
5      162.601959
6      128.935290
7     1134.433145
8      533.793805
9      791.286353
10    1289.347181
11     527.764527
dtype: float64
0     1109.918851
1      448.616443
2      852.261855
3      621.821014
4      162.601959
5        0.000000
6       38.974934
7      978.172959
8      688.869692
9      635.023526
10    1133.724090
11     683.063541
dtype: float64
0     1148.398998
1      487.463435
2      814.114270
3      660.302899
4      128.935290
5       38.974934
6        0.000000
7     1016.658501
8      650.688630
9      673.583305
10    1172.276194
11     644.918615
dtype: float64
0      131.747015
1      532.022832
2     1830.071945
3      356.356741
4     1134.433145
5      978.172959
6     1016.658501
7        0.000000
8     1666.799816
9      343.264274
10     156.048028
11    1660.929833
dtype: float64
0     1798.540818
1     1135.784906
2      163.441776
3     1310.520305
4      533.793805
5      688.869692
6      650.688630
7     1666.799816
8        0.000000
9     1323.544723
10    1822.130947
11       6.539828
dtype: float64
0      474.998420
1      189.704914
2     1486.808745
3       15.739408
4      791.286353
5      635.023526
6      673.583305
7      343.264274
8     1323.544723
9        0.000000
10     498.700784
11    1317.670511
dtype: float64
0       27.536260
1      686.695079
2     1985.334889
3      512.041644
4     1289.347181
5     1133.724090
6     1172.276194
7      156.048028
8     1822.130947
9      498.700784
10       0.000000
11    1816.236213
dtype: float64
0     1792.668554
1     1129.848942
2      169.199610
3     1304.665589
4      527.764527
5      683.063541
6      644.918615
7     1660.929833
8        6.539828
9     1317.670511
10    1816.236213
11       0.000000
dtype: float64

In [16]:
def calc_dist(lon1, lat1,lon2,lat2):
    
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    newlon = lon2 - lon1
    newlat = lat2 - lat1

    haver_formula = np.sin(newlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(newlon/2.0)**2

    dist = 2 * np.arcsin(np.sqrt(haver_formula ))
    ft = 3958 * 5280 * dist # 6367 for distance in KM for miles use 3958
    return ft