# Midland Basin Well Data

## Import dependencies and load data

In [1]:
from sqlalchemy import create_engine
from config import db_password
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn import ensemble
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
import matplotlib.pyplot as plt

In [2]:
# Connection string to PostgreSQL
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/MidlandBasin_data"

In [3]:
# Create database engine
engine = create_engine(db_string)

In [4]:
# Load the data as a dataframe
df = pd.read_sql_query('select * from "well_data"', con=engine)
df.head()

,well_id,lease_name,well_number,operator_company,county,landing_zone,surf_lat,surf_long,bh_lat,bh_long,...,date_completed,total_fluid,total_proppant,well_spacing,well_name,fluid,prop,avg_ppg,oil_eur,gas_eur
0,42-383403350000,COPE 82-83,09HT,SABLE PERMIAN RESOURCES LLC,REAGAN,None,31.510199,-101.321786,NaN,NaN,...,None,NaN,NaN,1829.257250,COPE 82-83 09HT,NaN,NaN,NaN,NaN,NaN
1,42-383391600000,UNIVERSITY 09B,609H,AMERICAN ENERGY-PERMIAN BASIN LLC,REAGAN,None,31.288575,-101.574003,NaN,NaN,...,None,NaN,NaN,545.839518,UNIVERSITY 09B 609H,NaN,NaN,NaN,NaN,NaN
2,42-329441280000,KYLA F,11WB,HENRY RESOURCES LLC,MIDLAND,WCMP B,31.971737,-101.968498,31.944438,-101.960085,...,None,NaN,NaN,1794.001841,KYLA F 11WB,NaN,NaN,NaN,NaN,NaN
3,42-383409870000,GRACE G,7H,HIBERNIA RESOURCES III LLC,REAGAN,WCMP B,31.409908,-101.562090,31.437702,-101.568102,...,None,NaN,NaN,2000.000000,GRACE G 7H,NaN,NaN,NaN,NaN,NaN
4,42-317417110000,KITTA BELLE,403H,ENERGEN RESOURCES CORP,MARTIN,WCMP C,32.395910,-102.006605,32.367475,-101.998071,...,None,26755260.0,21652000.0,2000.000000,KITTA BELLE 403H,NaN,NaN,NaN,NaN,NaN

In [5]:
# Summarize initial dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14703 entries, 0 to 14702
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   well_id           14703 non-null  object
 1   lease_name        14703 non-null  object
 2   well_number       14703 non-null  object
 3   operator_company  14703 non-null  object
 4   county            14703 non-null  object
 5   landing_zone      14176 non-null  object
 6   surf_lat          14703 non-null  float64
 7   surf_long         14703 non-null  float64
 8   bh_lat            14309 non-null  float64
 9   bh_long           14309 non-null  float64
 10  date_spud         14392 non-null  object
 11  lateral_len       12126 non-null  float64
 12  date_completed    12747 non-null  object
 13  total_fluid       11634 non-null  float64
 14  total_proppant    11541 non-null  float64
 15  well_spacing      14703 non-null  float64
 16  well_name         14703 non-null  object
 17  fluid             11181 non-null  float64
 18  prop              11096 non-null  float64
 19  avg_ppg           11057 non-null  float64
 20  oil_eur           7338 non-null   float64
 21  gas_eur           7338 non-null   float64
dtypes: float64(13), object(9)
memory usage: 2.5+ MB

## Data Cleaning

In [6]:
# Drop the columns where all values are null
df = df.dropna(axis='columns', how="all")

# Drop the NaN rows
df = df.dropna()

# Remove duplicate columns
df = df.drop(columns = ["lease_name", "well_number"])

# Convert date objects to datetime
df['date_spud'] = pd.to_datetime(df["date_spud"], yearfirst=True)
df['date_completed'] = pd.to_datetime(df["date_completed"],yearfirst=True)


# Assign numeric values to landing zone.
#def LandingZone_numeric(zone):
#    if zone == "SPBYU SD":
#        return 1
#    elif zone == "SPBYL SD":
#        return 2
#    elif zone == "SPBYL SH":
#        return 3
#    elif zone == "WCMP A":
#        return 4
#    elif zone == "WCMP B":
#        return 5
#    elif zone == "WCMP C":
#        return 6
#    elif zone == "WCMP D":
#        return 7
#    elif zone == "WOLFCAMP":
#        return 8
#    elif zone == "WOLFCAMP SHALE":
#        return 9
#    else:
#        return 10
    
#df["landing_zone"] = df["landing_zone"].apply(LandingZone_numeric)

# Key columns cannot have null values.
df["landing_zone"] = df["landing_zone"].dropna()
df["lateral_len"] = df["lateral_len"].dropna()
df["fluid"] = df["fluid"].dropna()
df["prop"] = df["prop"].dropna()
df["avg_ppg"] = df["avg_ppg"].dropna()
df["oil_eur"] = df["oil_eur"].dropna()
df.isnull().sum(axis = 0)

well_id             0
operator_company    0
county              0
landing_zone        0
surf_lat            0
surf_long           0
bh_lat              0
bh_long             0
date_spud           0
lateral_len         0
date_completed      0
total_fluid         0
total_proppant      0
well_spacing        0
well_name           0
fluid               0
prop                0
avg_ppg             0
oil_eur             0
gas_eur             0
dtype: int64

In [7]:
# Bin operating compaines: major players by well count
counts = df['operator_company'].value_counts()

super_operators = counts[counts>=1000].index
df['operator_company'].replace(super_operators, 1, inplace=True)

lg_operators = counts[(counts>600) & (counts<999)].index
df['operator_company'].replace(lg_operators, 2, inplace=True)

med_lg_operators = counts[(counts>500) & (counts<599)].index
df['operator_company'].replace(med_lg_operators, 3, inplace=True)

med_operators = counts[(counts>400) & (counts<499)].index
df['operator_company'].replace(med_operators, 4, inplace=True)

med_sm_operators = counts[(counts>300) & (counts<399)].index
df['operator_company'].replace(med_sm_operators, 5, inplace=True)

sm_operators = counts[(counts>200) & (counts<299)].index
df['operator_company'].replace(sm_operators, 6, inplace=True)

min_operators = counts[counts<=199].index
df['operator_company'].replace(min_operators, 7, inplace=True) 

df.value_counts("operator_company")

operator_company
1    1568
6    1263
3    1118
7     959
5     731
2     693
4     460
dtype: int64

In [8]:
# Label encoding county
#df['county'] = df['county'].astype('category')
#df['county_cat'] = df['county'].cat.codes
#df.head()

In [9]:
# Encoding counties
label_encoder = OneHotEncoder(sparse=False)
encoded_df = pd.DataFrame(label_encoder.fit_transform(df.county.values.reshape(-1,1)))
#county_encoded_df
# Rename encoded columns
encoded_df.columns = label_encoder.get_feature_names(['county'])
encoded_df.head()

,county_ANDREWS,county_GLASSCOCK,county_HOWARD,county_MARTIN,county_MIDLAND,county_REAGAN,county_UPTON
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [10]:
#merge encoded_df with df
df = df.merge(encoded_df,left_index=True, right_index=True).drop('county',1)
df.head()

,well_id,operator_company,landing_zone,surf_lat,surf_long,bh_lat,bh_long,date_spud,lateral_len,date_completed,...,avg_ppg,oil_eur,gas_eur,county_ANDREWS,county_GLASSCOCK,county_HOWARD,county_MARTIN,county_MIDLAND,county_REAGAN,county_UPTON
32,42-329418360000,3,WCMP A,31.738410,-102.009040,31.715650,-102.003820,2017-08-17,7654.0,2018-10-05,...,0.62,208.0,3005.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
34,42-329418760000,2,WCMP A,31.982514,-102.211939,31.955094,-102.205336,2018-01-04,10150.0,2018-05-25,...,1.01,456.0,1758.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
35,42-329418860000,7,WCMP D,31.972125,-102.067947,31.997833,-102.076536,2018-05-29,9233.0,2018-09-05,...,1.24,858.0,1556.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
36,42-329418890000,6,SPBYL SH,31.853160,-102.129826,31.879517,-102.140645,2017-09-28,9798.0,2018-06-26,...,0.94,759.0,1338.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
37,42-329418900100,6,WCMP A,31.853179,-102.129748,31.880202,-102.137624,2018-01-18,9975.0,2018-06-23,...,0.65,827.0,2430.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [11]:
# Encoding Landing Zone
label_encoder = OneHotEncoder(sparse=False)
encoded_df2 = pd.DataFrame(label_encoder.fit_transform(df.landing_zone.values.reshape(-1,1)))
# Rename encoded columns
encoded_df2.columns = label_encoder.get_feature_names(['landing_zone'])
encoded_df2.head()

,landing_zone_CISCO,landing_zone_SPBYL SD,landing_zone_SPBYL SH,landing_zone_SPBYU SD,landing_zone_WCMP A,landing_zone_WCMP B,landing_zone_WCMP C,landing_zone_WCMP D,landing_zone_WOLFCAMP,landing_zone_WOLFCAMP SHALE
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [12]:
#merge encoded_df2 with df
df = df.merge(encoded_df2,left_index=True, right_index=True).drop(['landing_zone','landing_zone_CISCO'],1)
df.head()

,well_id,operator_company,surf_lat,surf_long,bh_lat,bh_long,date_spud,lateral_len,date_completed,total_fluid,...,county_UPTON,landing_zone_SPBYL SD,landing_zone_SPBYL SH,landing_zone_SPBYU SD,landing_zone_WCMP A,landing_zone_WCMP B,landing_zone_WCMP C,landing_zone_WCMP D,landing_zone_WOLFCAMP,landing_zone_WOLFCAMP SHALE
32,42-329418360000,3,31.738410,-102.009040,31.715650,-102.003820,2017-08-17,7654.0,2018-10-05,17406252.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,42-329418760000,2,31.982514,-102.211939,31.955094,-102.205336,2018-01-04,10150.0,2018-05-25,15855777.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
35,42-329418860000,7,31.972125,-102.067947,31.997833,-102.076536,2018-05-29,9233.0,2018-09-05,16382508.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
36,42-329418890000,6,31.853160,-102.129826,31.879517,-102.140645,2017-09-28,9798.0,2018-06-26,21463544.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
37,42-329418900100,6,31.853179,-102.129748,31.880202,-102.137624,2018-01-18,9975.0,2018-06-23,25829358.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [13]:
df['oil_eur_perft'] = df['oil_eur'] / df['lateral_len']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1519 entries, 32 to 3205
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   well_id                      1519 non-null   object
 1   operator_company             1519 non-null   int64
 2   surf_lat                     1519 non-null   float64
 3   surf_long                    1519 non-null   float64
 4   bh_lat                       1519 non-null   float64
 5   bh_long                      1519 non-null   float64
 6   date_spud                    1519 non-null   datetime64[ns]
 7   lateral_len                  1519 non-null   float64
 8   date_completed               1519 non-null   datetime64[ns]
 9   total_fluid                  1519 non-null   float64
 10  total_proppant               1519 non-null   float64
 11  well_spacing                 1519 non-null   float64
 12  well_name                    1519 non-null   object
 13  fluid                        1519 non-null   float64
 14  prop                         1519 non-null   float64
 15  avg_ppg                      1519 non-null   float64
 16  oil_eur                      1519 non-null   float64
 17  gas_eur                      1519 non-null   float64
 18  county_ANDREWS               1519 non-null   float64
 19  county_GLASSCOCK             1519 non-null   float64
 20  county_HOWARD                1519 non-null   float64
 21  county_MARTIN                1519 non-null   float64
 22  county_MIDLAND               1519 non-null   float64
 23  county_REAGAN                1519 non-null   float64
 24  county_UPTON                 1519 non-null   float64
 25  landing_zone_SPBYL SD        1519 non-null   float64
 26  landing_zone_SPBYL SH        1519 non-null   float64
 27  landing_zone_SPBYU SD        1519 non-null   float64
 28  landing_zone_WCMP A          1519 non-null   float64
 29  landing_zone_WCMP B          1519 non-null   float64
 30  landing_zone_WCMP C          1519 non-null   float64
 31  landing_zone_WCMP D          1519 non-null   float64
 32  landing_zone_WOLFCAMP        1519 non-null   float64
 33  landing_zone_WOLFCAMP SHALE  1519 non-null   float64
 34  oil_eur_perft                1519 non-null   float64
dtypes: datetime64[ns](2), float64(30), int64(1), object(2)
memory usage: 427.2+ KB

## Linear Regression Modeling

In [14]:
# set variables to respective dfs
oil_df = df["oil_eur_perft"]

x_df = df[['landing_zone','well_spacing','fluid','prop']]

KeyError: "['landing_zone'] not in index"

In [ ]:
oil_df

In [ ]:
# Remove outcome target from features
y = oil_df
X = x_df

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.5, random_state=42,)

In [ ]:
#  Training the Algorithm
from sklearn.linear_model import LinearRegression

regressor= LinearRegression()
regressor.fit(X_train, y_train)

In [ ]:
# print intercept and coefficient
print(regressor.intercept_)
print(regressor.coef_)

In [ ]:
# find the most optimal coefficients for all the attributes
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df

In [ ]:
# Making Predictions
y_pred = regressor.predict(X_test)

In [ ]:
## compare actual eur to predicted
pf = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
pf

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Absolute Percent Error:', metrics.mean_absolute_percentage_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [ ]:
plt.scatter(pf.Actual,pf.Predicted)

plt.xlabel('Actual')
plt.ylabel('Predicted')
plt.show()

In [ ]:
plt.scatter(x_df.prop,y)
plt.xlabel('Prop')
plt.ylabel('Oil EUR')
plt.show()

In [ ]:
plt.scatter(x_df.lateral_len,y)
plt.xlabel('lateral_len')
plt.ylabel('Oil EUR')
plt.show()

## Gradient Boosting Regression

In [ ]:
# Remove the outcome target from features

In [ ]:
#  Training the Algorithm
reg = ensemble.GradientBoostingRegressor(n_estimators=500, loss='ls', min_samples_leaf=100, random_state=1)
reg.fit(X_train, y_train)

In [ ]:
# Making Predictions
y_pred_gb = reg.predict(X_test)
## compare actual eur to predicted
pf_gb = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred_gb})
pf_gb

In [ ]:
# Check the outcomes
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred_gb))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred_gb))
print('Mean Abs Percentage Error:',metrics.mean_absolute_percentage_error(y_test,y_pred_gb))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred_gb)))